*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #2f4f4f;
}

.icon{
  display: flex;
  justify-content: center;
  height: 5px;
  font-size: 5px;
  
}

.list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 20px;
}

.statement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.son{
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.second{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chelsy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #0000ff;
  color: white;
  width: 150px;
  height: 30px;
}

.child{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  color: brown;
  background: white;
  width: 150px;
  height: 30px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  }

  .title {
    height: 70px;
  }

  .paragraph{
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  .feature1{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .fff{
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color:grey;
    padding-bottom: 1rem 0;
    margin: 1rem;
  }

  .ffff{
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color:gray;
    margin: 1rem;
  }

  .ff{
    bottom: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color: gray;
    margin: 1rem;
  }

  .ff2{
    bottom: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color:grey;
    margin: 1rem;
  }

  .ff3{
    bottom: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color: gray;
    margin: 1rem;
  }

  .ff4{
    bottom: 1px solid black;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    background-color: gray;
    margin: 1rem;
  }

  .ttt{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 2rem;
  }

  .ggg{
    color: #808080;
    border-radius: 50px;
    margin: 1rem;
    padding: 2rem;
    width: 20px;
  }

  mainbox{
    border-radius: 20px;
  }